<div
    joyrideStep="{{tMapDetail?.id}}1"
    text="Right click a song card to add the map to the download queue"
    (contextmenu)="onCardClick()"
    [ngClass]="{
        'song-card-container row no-gutters': true,
        'song-installed': isInstalledSong.status && !tLevelStatsInfo?.isFav,
        'song-fav': tLevelStatsInfo?.isFav && !isInstalledSong.status,
        'song-installed-fav': tLevelStatsInfo?.isFav && isInstalledSong.status
    }"
>
    <div
        [ngClass]="{ 'col-12 p-2 main-frame': true, 'col-lg-6': expanded,
        'in-queue': inQueue }"
    >
        <div class="row no-gutters">
            <div class="col-12 pb-1 d-flex">
                <div class="row py-1 w-100">
                    <div class="col-auto">
                        <fa-icon
                            *ngIf="isInstalledSong.status"
                            [icon]="['fas', 'check-circle']"
                            class="mr-2 song-installed-icon"
                            pTooltip="Installed"
                        >
                        </fa-icon>
                        <fa-icon
                            *ngIf="tLevelStatsInfo?.isFav"
                            [icon]="['fas', 'star']"
                            class="song-fav-icon"
                            pTooltip="In your favorites"
                        ></fa-icon>
                    </div>
                    <div class="col-auto ml-auto d-flex flex-wrap">
                        <a
                            pRipple
                            joyrideStep="{{tMapDetail?.id}}2"
                            text="Download the song as zip file"
                            class="mr-3 card-btn"
                            href="{{ latestVersion?.downloadURL }}"
                            pTooltip="Download as zip file"
                            ><fa-icon [icon]="['fas', 'file-archive']"></fa-icon
                        ></a>
                        <a
                            pRipple
                            joyrideStep="{{tMapDetail?.id}}3"
                            text="Download and install the sond directly to your custom songs folder"
                            class="mr-3 card-btn"
                            (click)="onDownloadSingle()"
                            [routerLink]=""
                            pTooltip="Install song directly"
                            ><fa-icon [icon]="['fas', 'cloud-download-alt']"></fa-icon
                        ></a>
                        <a
                            pRipple
                            joyrideStep="{{tMapDetail?.id}}4"
                            class="card-btn"
                            text="Copy the command for the song request manager for twitch"
                            (click)="onCopySRM()"
                            [routerLink]=""
                            pTooltip="Copy song request command"
                            ><fa-icon [icon]="['fab', 'twitch']"></fa-icon
                        ></a>
                    </div>
                </div>
                <div class="row ml-0">
                    <div class="col-auto d-flex align-items-stretch">
                        <a
                            joyrideStep="{{tMapDetail?.id}}5"
                            text="Expand the card and display detailed map details"
                            pRipple
                            [routerLink]=""
                            class="d-flex align-items-center expand-btn"
                            pTooltip="{{expanded ? 'Collapse song' : 'Expand song'}}"
                            (click)="expanded = !expanded"
                            ><fa-icon
                                *ngIf="!expanded && !isMobile"
                                class="p-1"
                                [icon]="['fas', 'chevron-right']"
                            ></fa-icon>
                            <fa-icon
                                *ngIf="expanded && !isMobile"
                                class="p-1"
                                [icon]="['fas', 'chevron-left']"
                            ></fa-icon>
                            <fa-icon
                                *ngIf="!expanded && isMobile"
                                class="p-1"
                                [icon]="['fas', 'chevron-down']"
                            ></fa-icon>
                            <fa-icon
                                *ngIf="expanded && isMobile"
                                class="p-1"
                                [icon]="['fas', 'chevron-up']"
                            ></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mb-2 col-auto song-col-1">
                <div class="song-cover-container">
                    <img
                        joyrideStep="{{tMapDetail?.id}}6"
                        text="Click the cover to preview the map as video"
                        [src]="latestVersion?.coverURL || 'assets/bs-default.jpeg'"
                        [ngClass]="{
                        'rounded float-start song-cover': true
                    }"
                        alt="{{ songName }}"
                    />
                    <div (click)="onPlayPreview()" pRipple class="song-cover-hover">
                        <fa-icon [icon]="['fas', 'play-circle']"></fa-icon>
                    </div>
                </div>
                <app-song-stats [tMapStats]="tMapDetail?.stats" class="pt-2 pb-1"></app-song-stats>
            </div>
            <div class="mb-2 col">
                <a
                    [routerLink]="[tMapDetail?.id]"
                    routerLinkActive="router-link-active"
                    [title]="songName"
                >
                    <fa-icon
                        *ngIf="tMapDetail?.ranked"
                        [icon]="['fas', 'trophy']"
                        class="song-ranked-icon"
                        pTooltip="Ranked"
                    ></fa-icon>
                    <fa-icon
                        *ngIf="tMapDetail?.qualified"
                        [icon]="['fas', 'graduation-cap']"
                        class="song-qiali-icon"
                        pTooltip="Qualified"
                    ></fa-icon>
                    {{ songNameShort }}</a
                >
                <br />
                <div class="pb-2">
                    <a [routerLink]=""> {{ tMapDetail?.uploader?.name || 'N/A' }} </a>
                    <span class="song-upload-date pl-2"> {{ uploadTimeInfo }} </span>
                </div>
                <span
                    *ngFor="let groupedDif of diffsArr; let last = last"
                    [ngClass]="{ 'row no-gutters justify-content-start': true, 'pb-1': !last }"
                >
                    <app-difficulty-tag
                        *ngFor="let dif of groupedDif[1]"
                        class="col-auto pr-1"
                        [tMapDifficulty]="dif"
                    ></app-difficulty-tag>
                </span>
            </div>
            <div
                *ngIf="tLevelStatsInfo?.levelStats?.length || 0 > 0"
                class="col-12 row no-gutters player-stats"
            >
                <ng-container *ngFor="let statInfo of tLevelStatsInfo?.levelStats; let last = last">
                    <app-player-stats
                        [ngClass]="{ 'col-12': true, 'player-stats-item-border': !last }"
                        [stats]="statInfo"
                    ></app-player-stats>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="expanded" class="col-12 expand-frame col-lg-6 p-2 row no-gutters">
        <app-difficulty-card class="w-100" [groupedDifs]="diffs"></app-difficulty-card>
    </div>
</div>
