:host ::ng-deep .p-dropdown {
    > .p-dropdown-label {
        padding: 0.25rem;
    }
}

.char-icon {
    height: 1rem;
}

.diff-card-container {
    .characteristic-item {
        white-space: -moz-nowrap; /* Firefox */
        white-space: -o-nowrap; /* Opera */
        white-space: nowrap; /* Chrome */
        display: flex;
        align-items: center;
        max-width: 68px;
        min-width: 68px;
    }

    .diffs-container {
        border-radius: 0.25rem;
        overflow: hidden;
        border: 1px solid rgba(255, 255, 255, 0.3);

        .diff-item-border {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }

        .selectable {
            &.selected {
                box-shadow: inset 0 0 3px 1px var(--primary);
            }
        }

        .diff-item {
            &.Easy {
                background-color: rgba(#20c997, 0.25);
            }
            &.Normal {
                background-color: rgba(#17a2b8, 0.25);
            }
            &.Hard {
                background-color: rgba(#fd7e14, 0.25);
            }
            &.Expert {
                background-color: rgba(#dc3545, 0.25);
            }
            &.ExpertPlus {
                background-color: rgba(#6610f2, 0.25);
            }

            .diff-stat-group {
                .diff-stat-item {
                    display: flex;
                    align-items: center;

                    .diff-stat-img {
                        height: 16px;
                        width: 16px;
                        margin-right: 0.25rem;
                    }
                    > span {
                        font-size: 11px;
                    }
                }
            }

            .characteristic-item {
                .char-icon {
                    height: 1rem;
                }
                .char-label {
                    font-size: 13px;
                    min-width: 46px;
                }
            }

            .ranked-item {
                white-space: -moz-nowrap; /* Firefox */
                white-space: -o-nowrap; /* Opera */
                white-space: nowrap; /* Chrome */
                display: flex;
                align-items: center;
                font-size: 12px;
            }
        }

        .diff-stats {
            justify-content: space-between;
            display: flex;
            max-width: 280px;
        }
    }

    .player-stats {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0.25rem;
        border-radius: 0.25rem;
        .char-label {
            font-size: 13px;
            min-width: 46px;
        }

        .score-90 {
            color: var(--blue);
        }

        .score-80 {
            color: var(--green);
        }
    }
}
