.dif-tag-container {
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    background-color: black;
    padding: 0 0.3rem;
    white-space: -moz-nowrap; /* Firefox */
    white-space: -o-nowrap; /* Opera */
    white-space: nowrap; /* Chrome */
    display: flex;
    align-items: center;
    justify-content: center;

    &.Easy {
        background-color: var(--teal);
    }
    &.Normal {
        background-color: var(--cyan);
    }
    &.Hard {
        background-color: var(--orange);
    }
    &.Expert {
        background-color: var(--red);
    }
    &.ExpertPlus {
        background-color: var(--indigo);
    }

    > .dif-icon {
        margin-right: 0.25rem;
        height: 14px;
    }

    > .dif-label {
        font-size: 12px;
    }
}
