/* Importing Bootstrap SCSS file. */

body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-b);
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
}

hr {
    border-color: var(--font-family);
}

.p-scrollpanel {
    &.custombar1 {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: var(--primary-color);
            opacity: 1;
            transition: background-color 0.2s;

            &:hover {
                background-color: #007ad9;
            }
        }
    }

    &.hide-x {
        .p-scrollpanel-bar-x {
            display: none !important;
        }
    }
}

.markdown {
    h1 {
        border-bottom: 1px solid;
        margin-bottom: 2.5rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.17em;
    }
}

.p-progressbar {
    height: 1.25rem;

    .p-progressbar-label {
        top: 50%;
    }
}
