body {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-b);
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;

    .p-component,
    .p-inputtext {
        font-size: 0.95rem;
        font-weight: normal;
    }
    .p-inputtext-sm {
        padding-top: 0.683rem !important;
        padding-bottom: 0.683rem !important;
    }

    .p-button-sm,
    .p-button,
    .p-multiselect-item {
        font-weight: normal;

        &.button-icon-only {
            min-width: auto;
        }
    }

    .p-tag-value {
        font-size: 0.8rem;
        line-height: 1;
    }
}

hr {
    border-color: var(--font-family);
}

.p-scrollpanel {
    &.custombar1 {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: var(--primary-color);
            opacity: 1;
            transition: background-color 0.2s;

            &:hover {
                background-color: #007ad9;
            }
        }
    }

    &.hide-x {
        .p-scrollpanel-bar-x {
            display: none !important;
        }
    }
    &.custombar1-center {
        .p-scrollpanel-content {
            padding-right: 0;
        }
    }
}

.markdown {
    h1 {
        border-bottom: 1px solid;
        margin-bottom: 2.5rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.17em;
    }
}

.p-progressbar {
    height: 1.25rem;

    .p-progressbar-label {
        top: 50%;
    }
}

.p-confirm-popup {
    &.confirm-delete {
        box-shadow: 0 0 3px 0 var(--danger);
        background-color: var(--surface-a);
        max-width: 350px;

        &::before {
            border-bottom-color: rgba(220, 53, 69, 0.2);
        }

        &::after {
            border-bottom-color: var(--surface-a);
        }
    }
}

.trim {
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-datatable-scrollable-header-box {
    padding-right: 0 !important;
}

.p-button-xs {
    padding: 0.25rem 0.5rem;

    &.p-button-icon-only {
        padding: 0.25rem 0.5rem;
    }
}

.p-inputtext-xs {
    padding: 0.25rem 0.5rem;
}

.p-button-icon-only {
    width: auto !important;
}

p-button {
    .button-content {
        white-space: nowrap;
    }
}

.default-p-top {
    padding-top: 1.75rem;
}
