.player-stats-container {
    background-color: rgba(black, 0.1);
    padding: 0.5rem;
    > div > span {
        border-radius: 0.25rem;
        background-color: var(--surface-b);
        padding: 0.3rem 0.5rem 0.3rem 0.4rem;
        white-space: -moz-nowrap; /* Firefox */
        white-space: -o-nowrap; /* Opera */
        white-space: nowrap; /* Chrome */

        > .dif-icon {
            padding-right: 0.25rem;
            font-size: 0.9rem;
        }

        > .dif-label {
            font-size: 0.9rem;
        }
    }

    &.Easy {
        background-color: rgba(#20c997, 0.25);
    }
    &.Normal {
        background-color: rgba(#17a2b8, 0.25);
    }
    &.Hard {
        background-color: rgba(#fd7e14, 0.25);
    }
    &.Expert {
        background-color: rgba(#dc3545, 0.25);
    }
    &.ExpertPlus {
        background-color: rgba(#6610f2, 0.25);
    }
}
