{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "endOfLine": "auto",
    "overrides": [
      {
        "files": "*.html",
        "options": {
          "parser": "html"
        }
      }
    ]
  }
  