<div class="row mx-n2">
    <h1>{{mapperId}}</h1>
    <app-song-card
        #card
        *ngFor="let doc of apiService.tMapSearchResult?.docs;"
        class="col-12 col-lg-6 px-2 mb-3"
        [tMapDetail]="doc"
        [localMode]="false"
    ></app-song-card>

    <div class="col-12">
        <button
            *ngIf="apiService.canLoadMoreMaps && apiService.tMapSearchResult?.docs?.length"
            pButton
            pRipple
            pTooltip="Load more maps"
            tooltipPosition="top"
            type="button"
            icon="pi pi-chevron-down"
            class="w-100 p-button-sm"
            (click)="onSearch(true)"
        ></button>
    </div>
</div>
