<div class="row navigation-bar no-gutters">
    <div class="col-auto nav-item-l">
        <button
            pButton
            pRipple
            class="p-button-sm"
            pTooltip="Home"
            icon="pi pi-home"
            (click)="onHome()"
        ></button>
    </div>
    <div class="col-auto nav-item-l">
        <button
            pButton
            pRipple
            class="p-button-sm"
            pTooltip="Home"
            icon="pi pi-star"
            [routerLink]="['locals']"
        ></button>
    </div>
    <div class="col-auto nav-item-l">
        <button
            pButton
            pRipple
            class="p-button-sm"
            label="Community"
            [icon]="communityMenu.visible ?'pi pi-times' : 'pi pi-bars'"
            (click)="communityMenu.toggle($event)"
        ></button>
        <p-tieredMenu
            #communityMenu
            appendTo="body"
            [model]="communityMenuItems"
            [popup]="true"
        ></p-tieredMenu>
    </div>
    <h1></h1>
    <div *ngIf="electronService.isElectron" class="col-auto ml-auto nav-item-r">
        <button
            pButton
            pRipple
            pTooltip="Reload user data"
            class="p-button-sm"
            icon="pi pi-refresh"
            (click)="onReload()"
        ></button>
    </div>
    <div *ngIf="electronService.isElectron" class="col-auto nav-item-r">
        <button
            pButton
            pRipple
            pTooltip="Settings"
            class="p-button-sm"
            icon="pi pi-cog"
            (click)="optService.visible = !optService.visible"
        ></button>
    </div>
    <div class="col-auto nav-item-r">
        <button
            pButton
            pRipple
            pTooltip="About"
            class="p-button-sm coffee-btn"
            icon="pi pi-heart"
            (click)="showCoffee()"
        ></button>
    </div>
    <button
        joyrideStep="dlQueue1"
        text="Open the download queue"
        stepPosition="right"
        pButton
        pRipple
        pBadge
        severity="success"
        value="{{ dlService.dlSize }}"
        class="p-button-sm dl-list-btn"
        icon="pi pi-download"
        (click)="dlService.visible = !dlService.visible"
    ></button>
</div>
