<p-table
    [columns]="columns"
    [value]="scores "
    [scrollable]="true"
    [rows]="10"
    scrollHeight="450px"
    [virtualScroll]="true"
    [virtualRowHeight]="40"
    [lazy]="true"
    [loading]="loading"
    (onLazyLoad)="loadScoresLazy($event)"
    [resizableColumns]="true"
    styleClass="p-datatable-gridlines w-100"
    columnResizeMode="expand"
    responsiveLayout="scroll"
    [rowHover]="true"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th pResizableColumn *ngFor="let col of columns">{{col.header}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="height: 40px">
            <ng-template ngFor let-col [ngForOf]="columns">
                <td
                    *ngIf="!isNumber(rowData[col.field]) || col.field === 'rank'; else scorePercent"
                >
                    {{rowData[col.field]}}
                </td>
                <ng-template #scorePercent>
                    <td [className]="col.field">{{rowData[col.field] | number : '1.2-2'}}</td>
                </ng-template>
            </ng-template>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height: 40px">
            <td *ngFor="let col of columns">
                <p-skeleton [ngStyle]="{'width': '100%'}"></p-skeleton>
            </td>
        </tr>
    </ng-template>
</p-table>
