<div class="content-viewer">
    <div class="navigation-bar">
        <app-detail-btn-panel
            [activeId]="activeId"
            (openNext)="onOpen($event)"
        ></app-detail-btn-panel>
        <div class="container">
            <div class="row navigation-bar-content no-gutters">
                <div class="col-auto nav-item-l">
                    <button
                        joyrideStep="beatSaverBtn"
                        text="Browse all BeatSaver maps"
                        pButton
                        pRipple
                        type="button"
                        class="p-button-sm"
                        [ngClass]="{'active-route': songs.selected}"
                        pTooltip="Home"
                        icon="pi pi-home"
                        (click)="onOpen(songs)"
                    ></button>
                </div>
                <div class="col-auto nav-item-l">
                    <p-button
                        joyrideStep="searchSongId"
                        pTooltip="Find by song id"
                        class="d-block"
                        (onClick)="searchById.toggle($event)"
                        text="Find a map by its ID"
                        styleClass="p-button-sm button-icon-only"
                    >
                        <ng-template pTemplate="content">
                            <fa-icon class="px-1" [icon]="['fas', 'binoculars']"></fa-icon>
                        </ng-template>
                    </p-button>
                </div>
                <div class="col-auto nav-item-l">
                    <p-button
                        class="d-block"
                        joyrideStep="localMapsBtn"
                        text="Browse all installed maps"
                        styleClass="p-button-sm {{locals.selected ? 'active-route' : ''}}"
                        pTooltip="Installed maps"
                        label="Installed"
                        (onClick)="onOpen(locals)"
                        badge="{{installedCount}}"
                    ></p-button>
                </div>
                <div class="col-auto nav-item-l">
                    <p-button
                        class="d-block"
                        joyrideStep="mappersBtn"
                        text="Browse mappers"
                        styleClass="p-button-sm {{locals.selected ? 'active-route' : ''}}"
                        label="Mappers"
                        (onClick)="onOpen(mappers)"
                    ></p-button>
                </div>
                <div class="col-auto nav-item-l">
                    <button
                        pButton
                        pRipple
                        class="p-button-sm"
                        label="Community"
                        type="button"
                        [icon]="communityMenu.visible ?'pi pi-times' : 'pi pi-bars'"
                        (click)="communityMenu.toggle($event)"
                    ></button>
                    <p-tieredMenu
                        #communityMenu
                        appendTo="body"
                        [model]="communityMenuItems"
                        [popup]="true"
                    ></p-tieredMenu>
                </div>
                <div *ngIf="electronService.isElectron" class="col-auto ml-auto nav-item-r">
                    <button
                        joyrideStep="reloadUserData"
                        text="Reload user stats and sync installed songs"
                        pButton
                        pRipple
                        pTooltip="Reload user data"
                        class="p-button-sm"
                        icon="pi pi-refresh"
                        (click)="onReload()"
                    ></button>
                </div>
                <div *ngIf="electronService.isElectron" class="col-auto nav-item-r">
                    <button
                        pButton
                        pRipple
                        pTooltip="Settings"
                        class="p-button-sm"
                        icon="pi pi-cog"
                        (click)="optService.visible = !optService.visible"
                    ></button>
                </div>
                <div class="col-auto nav-item-r">
                    <button
                        pButton
                        pRipple
                        pTooltip="About"
                        class="p-button-sm coffee-btn"
                        icon="pi pi-heart"
                        (click)="showCoffee()"
                    ></button>
                </div>
                <button
                    joyrideStep="dlQueue1"
                    text="Open the download queue"
                    stepPosition="right"
                    pButton
                    pRipple
                    pBadge
                    pTooltip="Download queue"
                    [showDelay]="250"
                    [hideDelay]="250"
                    severity="success"
                    value="{{ dlService.dlSize }}"
                    class="p-button-sm dl-list-btn"
                    icon="pi pi-download"
                    (click)="dlService.visible = !dlService.visible"
                ></button>
            </div>
        </div>
    </div>
    <app-view-content #songs>
        <ng-template appViewTemplate>
            <app-songs></app-songs>
        </ng-template>
    </app-view-content>
    <app-view-content #locals>
        <ng-template appViewTemplate>
            <app-local-maps></app-local-maps>
        </ng-template>
    </app-view-content>
    <app-view-content #mappers>
        <ng-template appViewTemplate>
            <app-mappers></app-mappers>
        </ng-template>
    </app-view-content>
    <app-view-content
        [livetime]="1000 * 60"
        [id]="details.mapDetail.id"
        *ngFor="let details of cvService.songDetailViewArr"
    >
        <ng-template appViewTemplate>
            <app-songs-detail [songId]="details.mapDetail.id"></app-songs-detail>
        </ng-template>
    </app-view-content>
</div>
<p-overlayPanel #searchById (onHide)="songIdSearch = ''">
    <ng-template pTemplate>
        <input
            [(ngModel)]="songIdSearch"
            type="text"
            class="p-inputtext-sm mr-1"
            placeholder="Song ID"
            pInputText
        />
        <button
            [disabled]="!songIdSearch?.length"
            (click)="onSearchById(songIdSearch)"
            type="button"
            pRipple
            pButton
            icon="pi pi-search"
        ></button>
    </ng-template>
</p-overlayPanel>
