<p-table
    [value]="mappers"
    [lazy]="true"
    (onLazyLoad)="loadScoresLazy($event)"
    [rows]="20"
    [paginator]="true"
    [totalRecords]="totalRecords"
    [loading]="loading"
>
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Mapper</th>
            <th>BPM</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td>{{car.id}}</td>
            <td>{{car.name}}</td>
            <td>{{car.stats.avgBpm}}</td>
        </tr>
    </ng-template>
</p-table>
<p-scrollTop target="parent" [threshold]="200"></p-scrollTop>
