:host ::ng-deep {
    .scrolltop {
        > button {
            width: 2rem;
            height: 2rem;
            border-radius: 4px;
            background-color: var(--primary-color);

            &:hover {
                background-color: var(--primary-color);
            }

            .p-scrolltop-icon {
                font-size: 1rem;
                color: var(--primary-color-text);
            }
        }
    }
}

:host ::ng-deep .p-dropdown {
    > .p-dropdown-label {
        padding: 0.714rem 1rem;
    }
}

:host ::ng-deep .p-progressbar {
    height: 1.25rem;

    .p-progressbar-label {
        top: 50%;
    }
}
