<div class="view-content" [hidden]="!selected">
    <ng-content></ng-content>
    <ng-container *ngIf="contentTemplate && loaded">
        <p-scrollPanel
            #mainScroll
            [style]="{ width: '100vw', height: '100vh' }"
            styleClass="custombar1 custombar1-center"
        >
            <div class="container pb-5 view-content-inner">
                <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
            </div>
            <p-scrollTop target="parent" class="scrolltop" [threshold]="200"> </p-scrollTop>
        </p-scrollPanel>
    </ng-container>
</div>
