<!-- prettier-ignore -->
<div class="markdown">
    <markdown ngPreserveWhitespaces emoji>
        Hey folks :heart:,
        
        I started the project with the intention to simplify downloading and managing songs.\
        There are already more ideas for this and I'm also happy to get some `inspiration` from `YOU`.

        Share your ideas or report problems on my <a href="https://github.com/dotMortis/beat-saver-client" target="_blank">GitHub</a>.
        \
        \
        \
        You can also give me some :heart: and support my :coffee: consumption:

        <a href="https://ko-fi.com/dotmortis" target="_blank">!["Buy Me A Coffee"](../../../../../assets/coffee.png)</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.patreon.com/dotmortis" target="_blank">!["Become a Patreon"](../../../../../assets/become_a_patreon.png)</a>
        <br/>
        <br/>
        <br/>
    </markdown>
    <a href="#" (click)="onChangelog()">CHANGELOG</a>
</div>
