.update-app-container {
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.25rem;
    overflow: hidden;
    background-color: var(--info);
    max-width: 350px;
    z-index: 3;
}

:host ::ng-deep {
    markdown {
        p {
            margin: 0;
        }
    }
}
