<div
    class="container detail-btn-panel"
    *ngIf="cvService.songDetailViews.size > 0 || cvService.mapperDetailViews.size > 0"
>
    <div class="row flex-nowrap mx-2 no-gutters">
        <div class="tab-group pr-2">
            <div class="row no-gutters map-detail-btn-sub-panel">
                <div
                    class="detail-btn-item-wrap"
                    [ngClass]="{active: activeId?.id === details.mapDetail.id && activeId?.type === 'map', 'pr-1': !last}"
                    *ngFor="let details of cvService.songDetailViewArr; last as last"
                >
                    <div
                        (click)="openNext.next({id: details.mapDetail.id, type: 'map'})"
                        class="detail-btn-item"
                        style="background-image: url({{details.latestVersion.coverURL}})"
                    >
                        <div pRipple class="detail-btn-content">
                            <div>{{details.mapDetail.metadata.songName }}</div>
                        </div>
                        <div
                            (click)="onCloseDetailTab({id: details.mapDetail.id, type: 'map'})"
                            pRipple
                            class="detail-btn-close"
                        >
                            <fa-icon [icon]="['fas', 'ban']"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-group pl-2">
            <div class="row no-gutters mapper-detail-btn-sub-panel">
                <div
                    class="detail-btn-item-wrap"
                    [ngClass]="{active: activeId?.id === details.mapperDetail.id && activeId?.type === 'mapper', 'pr-1': !last}"
                    *ngFor="let details of cvService.mapperDetailViewArr; last as last"
                >
                    <div
                        (click)="openNext.next({id: details.mapperDetail.id, type: 'mapper'})"
                        class="detail-btn-item"
                        style="background-image: url({{details.mapperDetail.avatar}})"
                    >
                        <div pRipple class="detail-btn-content">
                            <div>{{details.mapperDetail.name }}</div>
                        </div>
                        <div
                            (click)="onCloseDetailTab({id: details.mapperDetail.id, type: 'mapper'})"
                            pRipple
                            class="detail-btn-close"
                        >
                            <fa-icon [icon]="['fas', 'ban']"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
