.detail-btn-panel {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    transition: all 500ms;
    z-index: -1;

    &:hover {
        bottom: -5px;
    }

    .tab-group {
        min-width: 0;
        flex: 1 1 auto;

        .map-detail-btn-sub-panel {
            flex-wrap: nowrap;
            > .detail-btn-item-wrap {
                transition: all 500ms;
                margin-bottom: 0.25rem;
                margin-top: 0.25rem;
                min-width: 0;
                flex: 1 0 0;
                max-width: 8rem;

                &:hover {
                    flex-basis: 6rem;

                    > .detail-btn-item {
                        height: 3.5rem;
                    }
                }

                > .detail-btn-item {
                    position: relative;
                    height: 3rem;
                    display: flex;
                    color: black;
                    text-align: center;
                    background-color: #9fa8da;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 0.25rem 0.75rem 0.25rem 0.75rem;
                    overflow: hidden;
                    transition: all 200ms;

                    &:hover {
                        box-shadow: 0 0 2px 1px var(--danger);
                        cursor: pointer;

                        .detail-btn-close {
                            opacity: 0.5;
                        }
                    }

                    .detail-btn-content {
                        display: flex;
                        align-self: stretch;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.35);
                        > div {
                            margin-top: auto;
                            width: 100%;
                            padding: 0 0.2rem 0 0.3rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: white;
                            font-size: 0.85rem;

                            align-self: flex-end;
                        }
                    }

                    .detail-btn-close {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transition: all 200ms;
                        border-radius: 0 0 0 50%;
                        width: 1.5rem;
                        height: 1.5rem;
                        color: var(--danger);

                        &:hover {
                            opacity: 1;
                            background-color: rgba(0, 0, 0, 0.75);
                        }
                    }
                }

                &.active {
                    > .detail-btn-item {
                        box-shadow: 0 0 2px 1px var(--danger);
                        height: 3.5rem;
                        &:hover {
                            box-shadow: 0 0 5px 1px var(--danger);
                        }
                    }
                }
            }
        }

        .mapper-detail-btn-sub-panel {
            flex-wrap: nowrap;
            > .detail-btn-item-wrap {
                transition: all 500ms;
                margin-bottom: 0.25rem;
                margin-top: 0.25rem;
                min-width: 0;
                flex: 1 0 0;
                max-width: 5rem;

                &:hover {
                    flex-basis: 6rem;

                    > .detail-btn-item {
                        height: 3.5rem;
                    }
                }

                > .detail-btn-item {
                    position: relative;
                    height: 3rem;
                    display: flex;
                    color: black;
                    text-align: center;
                    background-color: #9fa8da;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 0.25rem 0.75rem 0.25rem 0.75rem;
                    overflow: hidden;
                    transition: all 200ms;

                    &:hover {
                        box-shadow: 0 0 2px 1px var(--danger);
                        cursor: pointer;

                        .detail-btn-close {
                            opacity: 0.5;
                        }
                    }

                    .detail-btn-content {
                        display: flex;
                        align-self: stretch;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.35);
                        > div {
                            margin-top: auto;
                            width: 100%;
                            padding: 0 0.2rem 0 0.3rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: white;
                            font-size: 0.85rem;

                            align-self: flex-end;
                        }
                    }

                    .detail-btn-close {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transition: all 200ms;
                        border-radius: 0 0 0 50%;
                        width: 1.5rem;
                        height: 1.5rem;
                        color: var(--danger);

                        &:hover {
                            opacity: 1;
                            background-color: rgba(0, 0, 0, 0.75);
                        }
                    }
                }

                &.active {
                    > .detail-btn-item {
                        box-shadow: 0 0 2px 1px var(--danger);
                        height: 3.5rem;
                        &:hover {
                            box-shadow: 0 0 5px 1px var(--danger);
                        }
                    }
                }
            }
        }
    }
}
