<div class="container detail-btn-panel" *ngIf="cvService.songDetailViews.size > 0">
    <div class="row mx-2 no-gutters detail-btn-sub-panel">
        <div
            class="pr-1 detail-btn-item-wrap"
            [ngClass]="{active: activeId?.id === details.mapDetail.id && activeId?.type === 'map'}"
            *ngFor="let details of cvService.songDetailViewArr"
        >
            <div
                (click)="openNext.next({id: details.mapDetail.id, type: 'map'})"
                class="detail-btn-item"
                style="background-image: url({{details.latestVersion.coverURL}})"
            >
                <div pRipple class="detail-btn-content">
                    <div>{{details.mapDetail.metadata.songName }}</div>
                </div>
                <div (click)="onCloseDetailTab(details.mapDetail)" pRipple class="detail-btn-close">
                    <fa-icon [icon]="['fas', 'ban']"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>
