@use "sass:color";
.song-card-container {
    background-color: transparent;

    .main-frame {
        background-color: var(--surface-f);
        border-radius: 0.25rem;
        transition-duration: 0.2s; /* delays for 1 second */
        -webkit-transition-duration: 0.2s; /* for Safari & Chrome */
        transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out; /* for Safari & Chrome */
        transition-property: background, box-shadow;
        -webkit-transition-property: background, box-shadow; /* for Safari & Chrome */
        &:hover {
            box-shadow: 0 0 5px 0 white;
        }

        .card-btn {
            box-shadow: 0 0 2px 0 var(--primary);
            width: 2.5rem;
            min-width: 2.5rem;
            justify-content: center;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            transition-duration: 0.2s; /* delays for 1 second */
            -webkit-transition-duration: 0.2s; /* for Safari & Chrome */

            &:hover {
                box-shadow: 0 0 4px 0 var(--primary);
                &:active {
                    background-color: darken(#262626, 5);
                }
            }
        }

        .expand-btn {
            box-shadow: 0 0 2px 0 var(--primary);
            border-radius: 0.25rem;
            transition-duration: 0.2s; /* delays for 1 second */
            -webkit-transition-duration: 0.2s; /* for Safari & Chrome */
            &:hover {
                box-shadow: 0 0 4px 0 var(--primary);
                &:active {
                    background-color: darken(#262626, 5);
                }
            }
        }

        .song-fav-icon {
            color: var(--yellow-400);
        }

        .song-installed-icon {
            color: var(--success);
        }

        .song-col-1 {
            display: flex;
            flex-direction: column;
            margin-right: 0.75rem;
            width: 100px;

            .song-cover-container {
                position: relative;

                img.song-cover {
                    height: 100px;
                    width: 100%;
                    border-radius: 0.25rem !important;
                    box-shadow: 0 0 8px 0 black;
                }

                .song-cover-hover {
                    width: 100%;
                    height: 100%;
                    line-height: 100px;
                    font-size: 1.5rem;
                    text-align: center;
                    transition: 0.3s ease;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: rgba(0, 0, 0, 0.7);
                    border-radius: 0.25rem !important;
                }

                &:hover .song-cover-hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }

        .song-upload-date {
            font-size: 0.6rem;
        }

        .song-ranked-icon {
            color: var(--yellow-500);
        }
        .song-qiali-icon {
            color: var(--cyan-500);
        }

        .player-stats {
            border-radius: 0.25rem;
            overflow: hidden;
            border: 1px solid rgba(255, 255, 255, 0.3);

            .player-stats-item-border {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }

    .in-queue {
        background-image: url("../../../../assets/in-queue.png");
        background-color: rgba(255, 193, 7, 0.1);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .expand-frame {
        transition-duration: 0.2s; /* delays for 1 second */
        -webkit-transition-duration: 0.2s; /* for Safari & Chrome */
        transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out; /* for Safari & Chrome */
        transition-property: box-shadow;
        -webkit-transition-property: box-shadow; /* for Safari & Chrome */
        background-color: var(--surface-c);
        border-radius: 0.25rem;
        overflow: hidden;
        &:hover {
            box-shadow: 0 0 5px 0 white;
        }
    }

    &.song-installed {
        .main-frame {
            box-shadow: 0 0, 0 0 5px 0 #28a745;
            &:hover {
                box-shadow: 0 0, 0 0 5px 2px #28a745;
            }
        }
        .in-queue {
            background-color: rgba(28, 255, 7, 0.1);
        }
    }
    &.song-fav .main-frame {
        box-shadow: 0 0 5px 0px #fccc55, 0 0;
        &:hover {
            box-shadow: 0 0 5px 2px #fccc55, 0 0;
        }
    }
    &.song-installed-fav {
        .main-frame {
            box-shadow: 1px 1px 2px 0px #fccc55, -1px -1px 2px 0 #28a745;
            &:hover {
                box-shadow: 2px 2px 3px 1px #fccc55, -2px -2px 3px 1px #28a745;
            }
        }
        .in-queue {
            background-color: rgba(28, 255, 7, 0.1);
        }
    }
}
