<app-local-song-filter></app-local-song-filter>
<div class="row mx-n2">
    <app-song-card
        #card
        *ngFor="let localMapInfo of localMapsService.searchResult || [];"
        class="col-12 col-lg-6 px-2 mb-3"
        [localMapInfo]="localMapInfo"
        [localMode]="true"
    ></app-song-card>
    <div class="col-12">
        <button
            *ngIf="localMapsService.canLoadMore && localMapsService.searchResult && localMapsService.searchResult.length"
            pButton
            pRipple
            pTooltip="Load more maps"
            tooltipPosition="top"
            type="button"
            icon="pi pi-chevron-down"
            class="w-100 p-button-sm"
            (click)="onSearch(true)"
        ></button>
    </div>
</div>
