<p-sidebar [(visible)]="dlService.visible" appendTo="body" [closeOnEscape]="true">
    <p-scrollPanel [style]="{ width: '100%', height: '100%' }" styleClass="custombar1 hide-x">
        <h5 class="pl-1">Download Queue</h5>
        <div class="row no-gutters justify-content-between pb-1 mx-1">
            <div class="col-auto pb-1">
                <button
                    pButton
                    pRipple
                    label="Install All"
                    icon="pi-download pi"
                    class="p-button-success p-button-sm"
                    [disabled]="!dlService.dlSize"
                    (click)="onDownload()"
                ></button>
            </div>
            <div class="col-auto pb-1">
                <button
                    pButton
                    pRipple
                    label="Clear Installed"
                    icon="pi pi-trash"
                    class="p-button-success p-button-sm"
                    [disabled]="!dlService.dlSizeInstalled"
                    (click)="onClear('DOWNLOADED')"
                ></button>
            </div>
            <div class="col-12">
                <span class="p-input-icon-left w-100">
                    <i class="pi pi-search"></i>
                    <input
                        class="p-inputtext-sm w-100"
                        type="text"
                        placeholder="Search"
                        [disabled]="!dlService.dlSize"
                        pInputText
                        [(ngModel)]="songFilter"
                    />
                </span>
            </div>
            <hr class="col-12" />
            <ng-container *ngIf="!songFilter; else filteredList">
                <div *ngFor="let item of dlService.dlArray" class="col-12 pb-2">
                    <app-dl-song-card
                        [tMapDetail]="item.mapDetail"
                        [lastVersion]="item.latestVersion"
                        [download]="item.download"
                        [installed]="item.installed.status"
                        [installError]="item.error"
                    ></app-dl-song-card>
                </div>
            </ng-container>

            <ng-template #filteredList>
                <div *ngFor="let item of filteredItems" class="col-12 pb-2">
                    <app-dl-song-card
                        [tMapDetail]="item.mapDetail"
                        [lastVersion]="item.latestVersion"
                        [download]="item.download"
                        [installed]="item.installed.status"
                        [installError]="item.error"
                    ></app-dl-song-card>
                </div>
            </ng-template>
        </div>
    </p-scrollPanel>
</p-sidebar>
